.parallax
  .parallax__layer.parallax__layer--one
  .parallax__layer.parallax__layer--two
  .parallax__layer.parallax__layer--three
  .parallax__layer.parallax__layer--four
  .parallax__layer.parallax__layer--five
  .parallax__layer.parallax__layer--six
  .parallax__layer.parallax__layer--seven
  .parallax__layer.parallax__layer--eight
  .parallax__layer.parallax__layer--nine
  .parallax__layer.parallax__layer--ten
