header.header
  .header__bg#header-bg
    +image("bg-header.jpg", "Фон хедера", "header__bg-img")
  .header__content#header-content
    .header__top
      +socials("socials")
    .header__middle
      +person("person person--header")
    .header__bottom
      button.header__button(type="button")
