.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 30px 100px;

  @include laptop {
    padding: 30px;
  }

  @include phone {
    padding: 15px;
  }

  &__header {
    align-self: flex-end;

    @include phone {
      align-self: center;
    }
  }

  &__main {
    margin: 30px 0;

    @include phone {
      margin: 10px;
    }
  }

  &__footer {
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    color: $white;

    @include tablet {
      font-size: 14px;
    }
  }
}
