.contact-form
  .contact-form__blur
  form.contact-form__form
    .contact-form__title
      .title.title--subtitle Связаться со мной
    .contact-form__inputs
      input.contact-form__input(type="text" name="name" placeholder="Имя")
      input.contact-form__input(type="text" name="email" placeholder="Email")
      textarea.contact-form__input.contact-form__input--textarea(type="text" name="comment" rows="6" maxlength="200" placeholder="Ваше сообщение")
    .contact-form__buttons
      button.contact-form__button(type="submit") Отправить
      button.contact-form__button(type="reset") Очистить
