mixin socials(socialsClass)
  div(class=`${socialsClass}`)
    a.socials__link.socials__link--vk(href="https://vk.com" target="_blank")
    a.socials__link.socials__link--gh(href="https://github.com" target="_blank")
    a.socials__link.socials__link--in(href="https://linkedin.com" target="_blank")
