.person-info
  .person-info__avatar
    +image("person.jpg", "Веб-разработчик", "person-info__avatar-img")
  .person-info__title
    .title.title--subtitle Кто я
  .person-info__desc
    p Я веб разработчик из Москвы. Мне 34 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
    p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
